@import "./variables/common";

$main-color-primary: 	#040404;
$main-font: 			#DE2B18;
$main-bg-primary: 		#0E74BF;
$main-bg-primary1: 		#FEDD00;
$main-bg-primary2: 		#CACACA;
$main-bt-primary: 		#0E74BF;
$main-bt-primary1: 		#0C3E7D;
$main-navbar: 			#1F2327;
$main-content: 			#3285AF;
$main-bg-border: 		#7BB7DF;
$main-border: 			#0C3E7D;
$main-input-field: 		#948482;
$main-bg: 				#EEEEEE;
$main-bg-foo: 			#515151;
$main-bt: 				#FFFFFF;
$main-txt-hover: 		#E23964;

$main-primary: 			#FDA30E;
$main-blue:       		#4078c0;
$main-gray-light: 		#999999;
$main-gray:       		#767676;
$main-gray-dark:  		#333333;
$main-green:      		#6CC644;
$main-red:        		#BD2C00;
$main-orange:     		#C9510C;
$main-yellow:			#F0CA64;
$main-purple:     		#6E5494;
