$main_txt1: #111;
$main_txt2: #333;
$main_txt3: #555;

$main-primary: #393939;
$main-white: #FFF;

// $main-color-primary: #040404;
$main-color-primary: #999;

$main-font: #de2b18;
// $main-font: #6EA9D7;

// $main-bg-primary: #0e74bf;
$main-bg-primary: #4E89C3;
// $main-bg-primary1: #fedd00;
$main-bg-primary1: #D1EE56;
$main-bg-primary2: #cacaca;

// $main-bt-primary: #3f7db2;
$main-bt-primary: #2DCC70;

$main-bg-border: #7bb7df;

$main-primary: 			#0E9C9A;
$main-blue:       		#4078c0;
$main-gray-light: 		#999999;
$main-gray:       		#767676;
$main-gray-dark:  		#333333;
$main-green:      		#6CC644;
$main-red:        		#BD2C00;
$main-orange:     		#C9510C;
$main-yellow:			#F0CA64;
$main-purple:     		#6E5494;