$main_txt1: #111;
$main_txt2: #333;
$main_txt3: #555;
$main_txt4: #eee;

/* $main-primary: #393939; */
$main-white: #FFF;


/* theme color#1*/
/*
$smog_dog: #807950;
$california_smog: #804D2E;
$mind_over: #82B193;
$bg_main: #393939;
$head_title: #f13f21;
$head_title1: #f09e0c;
*/
/****************/

/* theme for e-commerce orange */
// $main-primary: #fda30e;
// $main-bg: #ebebeb;
// $main-bg-foo: #7d7d7d;
// $main-bt: #3299BB;
/* end */


